[submodule "submodules/chibios"]
	path = submodules/chibios
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "submodules/tmb_effects"]
	path = submodules/tmb_effects
	url = git@github.com:janfietz/tmb_effects.git
[submodule "submodules/mfrc522"]
	path = submodules/mfrc522
	url = git@github.com:janfietz/mfrc522.git
